<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Destination To Store Your Files</h1>
            <hr>
            <p>Crabb makes it easy to upload your files and store them in the secure servers of Amazon. You can access your files anytime, anywhere! </p>
            <%= link_to "Join Crabb Today", new_user_registration_path, class: "btn btn-primary btn-xl page-scroll"%>
        </div>
    </div>
</header>

